body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #4c6ef5, #15aabf);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    direction: rtl;
}

.auth-container {
    width: 380px;
    background: #ffffffdd;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 0 20px #0004;
    text-align: center;
}

input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 10px;
    border: 1px solid #aaa;
}

button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 10px;
    background: #4c6ef5;
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.3s;
}

button:hover {
    background: #364fc7;
}

.link {
    display: block;
    margin-top: 20px;
    color: #364fc7;
    text-decoration: none;
    font-weight: bold;
}
