body {
    margin: 0;
    font-family: Arial, sans-serif;
    direction: rtl;
    background: linear-gradient(#0b74da, #056ac3);
    min-height: 100vh;
}

/* HEADER */

.main-header {
    background: #32a852;
    padding: 15px 30px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.logo {
    font-size: 32px;
    font-weight: 900;
}

.nav-menu {
    display: flex;
    gap: 25px;
}

.nav-menu a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 8px 12px;
    border-radius: 12px;
    transition: 0.3s;
}

.nav-menu a:hover {
    background: #1f8f3e;
}

.icons {
    display: flex;
    gap: 15px;
}

.icon {
    background: white;
    color: #32a852;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    cursor: pointer;
}

/* TITLE */

.section-title {
    color: white;
    font-size: 28px;
    font-weight: bold;
    padding: 20px 30px;
}

/* GRID */

.games-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 25px;
    padding: 0 30px 60px;
}

.game-card {
    background: white;
    border-radius: 18px;
    text-align: center;
    padding-bottom: 15px;
    cursor: pointer;
    box-shadow: 0 4px 12px #0003;
    transition: 0.3s;
}

.game-card img {
    width: 100%;
    height: 140px;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    object-fit: cover;
}

.game-card p {
    margin: 10px 0 5px;
    font-size: 18px;
    font-weight: bold;
}

.game-card.active:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 18px #0005;
}

.game-card.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}
.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 28px;
    font-weight: bold;
    color: white;
}

.logo img {
    height: 42px;
    width: auto;
}

.categories-dropdown {
    position: relative;
    display: inline-block;
}

#categoriesBtn {
    background: #2ecc71;
    border: none;
    padding: 12px 22px;
    border-radius: 12px;
    font-size: 18px;
    cursor: pointer;
    font-weight: bold;
    color: white;
}

#categoriesBtn:hover {
    background: #29b765;
}

#categoriesMenu {
    position: absolute;
    right: 0;
    background: white;
    list-style: none;
    padding: 10px 0;
    margin: 5px 0 0;
    width: 180px;
    border-radius: 12px;
    box-shadow: 0 4px 12px #0003;
    z-index: 50;
}

#categoriesMenu li {
    padding: 10px 18px;
    cursor: pointer;
    font-size: 16px;
    color: #1e293b; /* טקסט כהה וברור */
    font-weight: 500;
}

#categoriesMenu li:hover {
    background: #f0f4f8; /* רקע עדין בהובר */
    color: #0f172a; /* טקסט עוד יותר כהה */
}


.hidden {
    display: none;
}
