/* רקע מטושטש - אפקט מים */
.modal {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);  /* טשטוש חזק יותר - כמו מים */
    background: rgba(255, 255, 255, 0.20); /* שקיפות רכה */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 300;
}

/* חלון המודאל */
.modal-content {
    background: rgba(255, 255, 255, 0.55); /* שקיפות רכה */
    backdrop-filter: blur(25px); /* אפקט זכוכית */
    padding: 40px;
    width: 420px;
    border-radius: 26px;
    color: #0d0d0d;
    text-align: center;
    animation: popIn 0.35s ease;
    position: relative;

    /* זוהר תכלת עדין סביב החלון */
    box-shadow: 
        0 0 25px rgba(0, 180, 255, 0.45),
        0 8px 20px rgba(0,0,0,0.22);
    
    border: 1px solid rgba(255, 255, 255, 0.28); /* קו לבן עדין */
}

/* לוגו עם זוהר תכלת */
.profile-logo {
    width: 90px;
    margin-bottom: 10px;
    filter: drop-shadow(0 0 25px rgba(21, 76, 143, 0.8));

}

/* כותרת */
.modal-title {
    font-size: 28px;
    font-weight: 900;
    color: #005fcc;
    margin-bottom: 20px;
}

/* שורות מידע */
.profile-row {
    font-size: 18px;
    margin: 10px 0;
    text-align: right;
    direction: rtl;
}

/* כותרת הישגים */
.achieve-title {
    margin-top: 25px;
    font-size: 22px;
    font-weight: bold;
    color: #0077ff;
}

/* רשימת הישגים */
#p_achievements {
    text-align: right;
    padding-right: 20px;
}

/* כפתור סגירה */
.close {
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 22px;
    cursor: pointer;
    width: 36px;
    height: 36px;
    background: rgba(255,255,255,0.7);
    color: #333;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.25s;
    border: 1px solid rgba(0,0,0,0.15);
}

.close:hover {
    background: #ff5c5c;
    color: white;
}

/* אנימציית כניסה */
@keyframes popIn {
    from { transform: scale(0.8); opacity: 0; }
    to { transform: scale(1); opacity: 1; }
}

.hidden {
    display: none;
}
